In [ ]:
import sqlite3
import pandas as pd

```sql
CREATE TABLE students (
    student_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    grade TEXT,
    email TEXT,
);
```
```sql
CREATE TABLE courses (
    course_id INTEGER PRIMARY KEY AUTOINCREMENT,
    course_name TEXT,
    credits INTEGER
);
```
```sql
CREATE TABLE enrollments (
    enrollment_id INTEGER PRIMARY KEY AUTOINCREMENT,
    student_id INTEGER,
    course_id INTEGER,
    semester TEXT,
    grade TEXT,
    FOREIGN KEY (student_id) REFERENCES students(student_id),
    FOREIGN KEY (course_id) REFERENCES courses(course_id)
);
```

In [ ]:

# Connect to SQLite database (in-memory for demo)
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Create tables
cursor.execute("""
CREATE TABLE students (
    student_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    grade TEXT,
    email TEXT
)
""")
cursor.execute("""
CREATE TABLE courses (
    course_id INTEGER PRIMARY KEY AUTOINCREMENT,
    course_name TEXT,
    credits INTEGER
)
""")
cursor.execute("""
CREATE TABLE enrollments (
    enrollment_id INTEGER PRIMARY KEY AUTOINCREMENT,
    student_id INTEGER,
    course_id INTEGER,
    semester TEXT,
    grade TEXT,
    FOREIGN KEY (student_id) REFERENCES students(student_id),
    FOREIGN KEY (course_id) REFERENCES courses(course_id)
)
""")
conn.commit()
# Show all tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table' and name NOT LIKE 'sqlite_%'")
tables = cursor.fetchall()
print("Tables in database:", [t[0] for t in tables])

```sql
INSERT INTO students (name, grade, email) VALUES ('Alice', 'A', 'alice@email.com');
INSERT INTO students (name, grade, email) VALUES ('Bob', 'B', 'bob@email.com');
INSERT INTO courses (course_name, credits) VALUES ('Mathematics', 3);
INSERT INTO courses (course_name, credits) VALUES ('History', 2);
INSERT INTO enrollments (student_id, course_id, semester, grade) VALUES (1, 1, 'Fall2023', 'A');
INSERT INTO enrollments (student_id, course_id, semester, grade) VALUES (2, 2, 'Spring2024', 'B');
```

In [ ]:
# Insert data
cursor.execute("INSERT INTO students (name, grade, email) VALUES ('Alice', 'A', 'alice@email.com')")
cursor.execute("INSERT INTO students (name, grade, email) VALUES ('Bob', 'B', 'bob@email.com')")
cursor.execute("INSERT INTO courses (course_name, credits) VALUES ('Mathematics', 3)")
cursor.execute("INSERT INTO courses (course_name, credits) VALUES ('History', 2)")
cursor.execute("INSERT INTO enrollments (student_id, course_id, semester, grade) VALUES (1, 1, 'Fall2023', 'A')")
cursor.execute("INSERT INTO enrollments (student_id, course_id, semester, grade) VALUES (2, 2, 'Spring2024', 'B')")
conn.commit()


# Show all tables after insert
for table_name in [t[0] for t in tables]:
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    print(f"Table: {table_name}")
    display(df)

```sql

SELECT * FROM students;

SELECT name, grade FROM students WHERE grade = 'A';

SELECT * FROM students WHERE grade <> 'C' ORDER BY name DESC;

SELECT grade, COUNT(*) as num_students FROM students GROUP BY grade;
```

In [ ]:

df = pd.read_sql_query("SELECT * FROM students", conn)
display(df)


df = pd.read_sql_query("SELECT name, grade FROM students WHERE grade = 'A'", conn)
display(df)


df = pd.read_sql_query("SELECT * FROM students WHERE grade <> 'C' ORDER BY name DESC", conn)
display(df)


df = pd.read_sql_query("SELECT grade, COUNT(*) as num_students FROM students GROUP BY grade", conn)
display(df)

```sql

UPDATE students SET email = 'alice_new@email.com' WHERE name = 'Alice';

UPDATE courses SET credits = 4 WHERE course_name = 'Mathematics';

UPDATE enrollments SET grade = 'A' WHERE student_id = 2 AND course_id = 2;

UPDATE students SET grade = 'B', email = 'bob_new@email.com' WHERE name = 'Bob';

```

In [ ]:

cursor.execute("UPDATE students SET email = 'alice_new@email.com' WHERE name = 'Alice'")

cursor.execute("UPDATE courses SET credits = 4 WHERE course_name = 'Mathematics'")


cursor.execute("UPDATE enrollments SET grade = 'A' WHERE student_id = 2 AND course_id = 2")

cursor.execute("UPDATE students SET grade = 'B', email = 'bob_new@email.com' WHERE name = 'Bob'")
conn.commit()


for table_name in [t[0] for t in tables]:
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    print(f"Table: {table_name}")
    display(df)

```sql

SELECT s.name, c.course_name, e.semester, e.grade
FROM students s
JOIN enrollments e ON s.student_id = e.student_id
JOIN courses c ON e.course_id = c.course_id
WHERE e.grade IS NOT NULL
ORDER BY s.name, c.course_name;
```

In [ ]:
df = pd.read_sql_query("""
SELECT s.name, c.course_name, e.semester, e.grade
FROM students s
JOIN enrollments e ON s.student_id = e.student_id
JOIN courses c ON e.course_id = c.course_id
WHERE e.grade IS NOT NULL
ORDER BY s.name, c.course_name
""", conn)
display(df)

```sql
SELECT s.name, COUNT(e.course_id) as courses_taken
FROM students s
LEFT JOIN enrollments e ON s.student_id = e.student_id
GROUP BY s.name
HAVING courses_taken > 0;
```

In [ ]:
df = pd.read_sql_query("""
SELECT s.name, COUNT(e.course_id) as courses_taken
FROM students s
LEFT JOIN enrollments e ON s.student_id = e.student_id
GROUP BY s.name
HAVING courses_taken > 0
""", conn)
display(df)

```sql
SELECT name, (SELECT COUNT(*) FROM enrollments e WHERE e.student_id = s.student_id) as total_enrollments
FROM students s;
```

In [ ]:
df = pd.read_sql_query("""
SELECT name, (SELECT COUNT(*) FROM enrollments e WHERE e.student_id = s.student_id) as total_enrollments
FROM students s
""", conn)
display(df)

```sql
SELECT name FROM students s
WHERE EXISTS (
    SELECT 1 FROM enrollments e WHERE e.student_id = s.student_id AND e.grade = 'A'
);
```

In [ ]:
df = pd.read_sql_query("""
SELECT name FROM students s
WHERE EXISTS (
    SELECT 1 FROM enrollments e WHERE e.student_id = s.student_id AND e.grade = 'A'
)
""", conn)
display(df)

```sql
SELECT s1.name AS student1, s2.name AS student2
FROM students s1
JOIN students s2 ON s1.grade = s2.grade AND s1.student_id <> s2.student_id;
```

In [ ]:
df = pd.read_sql_query("""
SELECT s1.name AS student1, s2.name AS student2
FROM students s1
JOIN students s2 ON s1.grade = s2.grade AND s1.student_id <> s2.student_id
""", conn)
display(df)

```sql
SELECT name FROM students
UNION
SELECT course_name FROM courses;
```

In [ ]:
df = pd.read_sql_query("""
SELECT name FROM students
UNION
SELECT course_name FROM courses
""", conn)
display(df)

```sql
SELECT name,
    CASE
        WHEN grade = 'A' THEN 'Excellent'
        WHEN grade = 'B' THEN 'Good'
        ELSE 'Needs Improvement'
    END as performance
FROM students;
```

In [ ]:
df = pd.read_sql_query("""
SELECT name,
    CASE
        WHEN grade = 'A' THEN 'Excellent'
        WHEN grade = 'B' THEN 'Good'
        ELSE 'Needs Improvement'
    END as performance
FROM students
""", conn)
display(df)

```sql
SELECT
    s.name,
    e.semester,
    e.grade,
    RANK() OVER (PARTITION BY s.student_id ORDER BY e.grade DESC) as grade_rank
FROM students s
JOIN enrollments e ON s.student_id = e.student_id;
```

In [ ]:
df = pd.read_sql_query("""
SELECT
    s.name,
    e.semester,
    e.grade,
    RANK() OVER (PARTITION BY s.student_id ORDER BY e.grade DESC) as grade_rank
FROM students s
JOIN enrollments e ON s.student_id = e.student_id
""", conn)
display(df)


```sql
DELETE FROM students WHERE name = 'Bob';

DROP TABLE enrollments;
```

In [ ]:

cursor.execute("DELETE FROM students WHERE name = 'Bob'")

cursor.execute("DROP TABLE enrollments")
conn.commit()

tables = cursor.execute("SELECT name FROM sqlite_master WHERE type='table' and name NOT LIKE 'sqlite_%'").fetchall()
print("Tables in database:", [t[0] for t in tables])
for table_name in [t[0] for t in tables]:
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    print(f"Table: {table_name}")
    display(df)

In [ ]:
# when we're done, we can close the connection
# to our sqlite database

# it runs in memory, so it will be take up ram
# if we don't close it
# and it will not persist after we close the connection
# which means we lose all our data
conn.close()